.App {
  padding: 1em;
}

input {
  padding: .5em;
  margin: 0;
  border: 1px solid #ccc;
  border-radius: .3em;
  font-size: 1em;
}

button {
  padding: 0.62em;
  margin: 0 0 0 .5em;
  border: 1px solid #ccc;
  border-radius: .3em;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul > li {
  display: flex;
  align-items: center;
  padding: 1em;
  border-bottom: 1px solid #ccc;
}

ul > li.complete {
  opacity: 0.5;
}

ul > li > span {
  flex: 1;
  cursor: pointer;
  min-height: 16px;
  padding: 0.5em;
}

ul > li > input {
  flex: 1;
}

ul > li.complete > span {
  text-decoration: line-through;
}

ul > li.add {
  justify-content: center;
  border-bottom: none;
}

ul > li.add > button {
  padding: 1em 2em;
}
